<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, crop: :pad %>')"
>
  <div class="container">
    <h1>"Make your collection special </h1>
    <h1> with a note in the comments!"</h1>
    <p class="ms-5">- Movie-chan</p>
  </div>
</div>
<div class="container">
  <h1><%= @list.name %> <%= link_to "", @list, class: "delete-icon m-4 fa-regular fa-square-minus", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></h1>
  <div class="ms-0 row col-12 justify-content-center">
    <% @bookmarks.each do |bookmark| %>
      <div class="movie-card col-6">
        <h5 class="card-header text-center text-truncate"><%= bookmark.movie.title %></h5>
        <div class="img-card-box">
          <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="movie poster">
          <div class="card-body p-2">
            <p class="card-overview"><%= bookmark.movie.overview %></p>
            <span class="card-rating"><%= bookmark.movie.rating %></span>
            <div class="d-flex justify-content-between">
              <p class="card-text-comment">"<%= bookmark.comment %>"</p>
              <%= link_to "",bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-delete-left delete-tab" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="card-img-top add-movie col-6 d-flex justify-content-center align-items-center">
      <%= link_to  " Add Movie", new_list_bookmark_path(@list), class: "fa-solid fa-plus"%>
    </div>
  </div>
</div>
